<footer>
    <div class="footer-copyright">
        <div class="container">
            © 2024 Copyright Text
            <a class="grey-text text-lighten-4 right" href="https://github.com/MuthoniMN/story_books_app">GitHub Repo</a>
            <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/michelle-ndiangui/">Developer's LinkedIn</a>
        </div>
    </div>
</footer>