<footer>
    <div class="red darken-1" style="padding: 12px;">
        <div class="container">
            © 2024 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/MuthoniMN/story_books_app">GitHub
                Repo</a>
            <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/michelle-ndiangui/"
                style="margin-right: 12px;">Developer's LinkedIn</a>
        </div>
    </div>
</footer>