<nav class="red darken-1">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">
            <i class="fa-solid fa-book-open-reader"></i>
            StoryBooks
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
            <i class="fa-solid fa-bars"></i>
        </a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Public stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
        <img src="{{profileImage}}" alt="User Profile Image"
            class="right collection-image avatar circle small dropdown-trigger" data-target="dropdown1">
        <ul id='dropdown1' class='dropdown-content profile'>
            <li>{{displayName}}</li>
        </ul>
    </div>
</nav>