<nav class="red lighten-5">
    <div class="nav-wrapper container red darken-1">
        <a href="#!" class="brand-logo right">
            <i class="fa-solid fa-book-open-reader"></i>
            StoryBooks
        </a>
        <a href="/login" class="waves-effect waves-light btn red darken-1">Join Us</a>
    </div>
</nav>