<nav class="red lighten-5">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo red-text text-darken-1">
            <i class="fa-solid fa-book-open-reader"></i>
            StoryBooks
        </a>
        <a href="/login" class="waves-effect waves-light btn red darken-1 right">Join Us</a>
    </div>
</nav>