<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A web application that allows users to share stories privately and publicly.">
    <title>StoryBooks Web Application</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

    <script src="https://kit.fontawesome.com/0acc85d45b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/style.css">
</head>

<body style="margin: 0; padding: 0;">
    {{> _nav}}

    <div class="container landing">
        {{{body}}}
    </div>

    {{> _footer}}
    <!-- Compiled and minified JavaScript -->
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>