<div class="container hero">
    <h1>Write. Read. Engage</h1>
    <p>Write stories and share them publicly or privately at StoryBooks.</p>
</div>


<div class="row">

    <div class="col s4">
        <p class="feature_icons">
            <i class="fa-solid fa-pen"></i>
        </p>
        <h2>Write</h2>
        <p>Write stories and share them on the StoryBooks platform.</p>
    </div>
    <div class="col s4">
        <p class="feature_icons">
            <i class="fa-solid fa-book"></i>
        </p>
        <h2>Read</h2>
        <p>Read public stories and engage.</p>
    </div>
    <div class="col s4">
        <p class="feature_icons">
            <i class="fa-solid fa-user-lock"></i>
        </p>
        <h2>Privacy</h2>
        <p>You can share your stories publicly or privately.</p>
    </div>

</div>

<div>
    <h2>Ready to read, write and engage?</h2>
    <p>Join us at StoryBooks platform and start your reader journey</p>
    <button class="waves-effect waves-light btn red darken-1">
        <a href="/login">Sign Up</a>
    </button>
</div>