p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    text-align: center;
    margin: 56px auto;
}

i {
    margin-right: 8px;
}

.small {
    width: 50px;
    height: 50px;
    margin-top: 7px;
}

.profile {
    padding: 10px 12px 0 !important;
}

.heading {
    font-size: 32px;
    margin-top: 64px;
}

.centered-btn {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.centered {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.dropdown-content li>span {
    color: #e53935;
}

.input-field input[type=text]+label,
.input-field textarea+label,
.materialize-textarea:focus:not([readonly])+label {
    color: #000 !important;
}

.input-field input[type=text],
.input-field textarea,
.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgba(19, 18, 18, 0.363) !important;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.274) !important;
}

.row .input-field input:focus,
.row .input-field textarea:focus {
    border-bottom: 1px solid #e53935 !important;
    box-shadow: 0 1px 0 0 #e53935 !important
}

.row .input-field input:focus+label,
.row .input-field textarea:focus+label {
    color: #e53935 !important;
}

a {
    color: #e53935;
}

span.new.badge {
    background: #e53935;
}